$color1: #ebf2f1;
$color2: #dbe4f7;
$color3: #f9f9ea;
$color4: #d98b84;
$color5: #a54343;
$color6: white;

$colorText: black;
$colorTextInv: white;
$colorLinkBg: #797659;

$paddingLarge: 40px;
$paddingSmall: 20px;

$stickyStart: 620px;
